extends layout

block content
  .container
    h1 Anagram Server
    p Welcome to Anagram Server
    extends layout

    form(action='/anagram' method='post')
      .form-group
        label.active(for='kata') Isi kata :
        br
        input(
          id='kata'
          type='text'
          name='kata'
          placeholder='Enter the word'
        )
      br
      .form-group
        button.btn.waves-effect.waves-light(
          type='submit'
        ) Check Anagram

    br
    //- p= data
    h4= title
    ul.collection
      - for (let i=0; i < data.length; i++)
        li.collection-item= data[i].word

  script(src='/javascripts/material.js')
